html,
body
{
    margin: 0;
    padding: 0;
}

.container
{
    position: relative;
    top: 200px;

    width: 50%;
    height: 2000px;
    margin: 0 auto;
}

.block
{
    position: absolute;

    width: 100%;
    height: 100%;
}

.block:nth-child(1)
{
    top: 80px;
    left: 80px;

    background: #aba9ac;
}

.block:nth-child(2)
{
    top: 40px;
    left: 40px;

    background: #cbc9cc;
}

.block:nth-child(3)
{
    background: #ebe9ec;
}

.share
{
    position: fixed;

    width: 200px;
    height: 100px;

    background: #f7b05d;
}
